$main-color: #5b5d6b;
$text-color: #101223;
$text-secundary-color: #2c243e;
$bg-color: #f3f4f8;
$light-bg-color: #d2d4da;

/* Text sizes */
$text-small: 0.8rem;
$text-medium: 1rem;
$text-large: 1.2rem;
$text-ultra: 1.8rem;