.txn-form {
  border-radius: 4px;
  border: 1px solid #d5d5d5;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 16px;

  .half-width {
    width: calc(50% - 8px);
  }

  .react-datepicker-wrapper {
    width: 100%;

    .date-picker {
      padding: 12px;
      border-radius: 4px;
      border: 1px solid #c4c4c4;

    }
  }

  .error {
    font-size: 12px;
    color: red;
  }
}