@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@400&family=Fira+Sans:wght@400&display=swap');

.modal-container {
  width: min(600px, calc(100vw - 64px));
  overflow: hidden;

  .thumbnail {
    width: 100%;
    background-position: center;
    height: min(200px, 300vh);
  }

  .content {
    background-color: rgb(255 255 255 / 0.5);
    border-radius: 4px;
    text-align: center;
    margin-top: 0;
    overflow: auto;
    height: calc(600px - min(200px, 300vh));

    .name {
      font-family: 'Assistant', sans-serif;
    }

    .text-bold {
      font-weight: bold
    }

    .text {
      font-family: 'Fira Sans', sans-serif;
      text-align: justify;
    }

    hr {
      margin: 8px 16px;
      outline: none;
      border: 1px solid;
      height: 0;
    }
  }
}