@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.game-container {
  min-height: 100vh;
  background-image: url('/images/memory-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0 16px 16px;
  justify-content: center;

  .header {
    margin-top: 16px;
    padding: 16px;
    height: 100px;
    width: 960px;
    border-radius: 16px;
    background-color: #FFF;
    // box-shadow: 0 8px 16px rgba(0, 0, 0, 0.24);

    img {
      max-height: 100%;
      object-fit: contain;
    }

    .player {
      // font-weight: bold;
      font-size: 18px;
    }
  }

  .game-mode {
    width: min(640px, calc(100% - 32px));
    border-radius: 16px;
    background-color: #FFF;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.24);

    img {
      max-height: 100px;
      object-fit: contain;
    }
  }

  .game-result {
    width: min(640px, calc(100% - 32px));
    border-radius: 16px;
    background-color: #FFF;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.24);

    .image-container {
      width: 50%;

      img {
        max-width: 100%;
        object-fit: contain;
      }
    }

    .title {
      font-family: 'Bebas Neue', sans-serif;
      font-size: 40px;
    }

    .caption {
      font-size: 20px;

      span {
        font-weight: bold;
      }
    }
  }

  .card-grid {
    display: grid;
    // grid-template-columns: repeat(8, 1fr);
    grid-gap: 16px;
    width: calc(100% - 32px);
    align-items: center;

    .card {
      position: relative;

      .card-img {
        width: 100%;
        height: 100%;
        display: block;
        // border: 2px solid red;
        border-radius: 8px;
        box-shadow: 4px 4px 8px rgb(0 0 0 / .4);
      }

      .card-front {
        transform: rotateY(90deg);
        transition: all ease-in 0.2s;
        transition-delay: 0.2s;
        position: absolute;
      }

      .card-front-flipped {
        transform: rotateY(0deg);
        transition: all ease-in 0.2s;
        transition-delay: 0.2s;
        position: absolute;
      }

      .card-back {
        transform: rotateY(0deg);
        transition: all ease-in 0.2s;
        transition-delay: 0.2s;
      }

      .card-back-flipped {
        transform: rotateY(90deg);
        transition: all ease-in 0.2s;
        transition-delay: 0s;
      }
    }
  }
}